body{
    z-index: 4;
}

#moreBtn{
    margin-top: 10%;
    margin-bottom: 10%;
    opacity: 0.9;
}

.icon{
    /* padding: 3em; */
    color: black;
    user-select: none;
    font-size: 500%;
}

#logo{
    font-size: 200%;
}

nav{
    opacity: 0.9;
}

.card{
    margin: 5%;
    border-radius: 1em;
    opacity: 0.90;
}

.title-badge{
    font-size: 55%;
}

.jumbotron{
    opacity: 0.90;
}

.socialIcons{
    min-width: 40px;
    min-height: 40px;
    width: 5%;
    height: 5%;
}